frontend/.idea/shelf/Uncommitted_changes_before_Update_at_18_02_2025_9_33_[Changes]/app.db filter=lfs diff=lfs merge=lfs -text
frontend/.idea/shelf/Uncommitted_changes_before_Checkout_at_21_02_2025_9_11_[Changes]/app.db filter=lfs diff=lfs merge=lfs -text
