fastapi[all]~=0.115.8
uvicorn
sqlalchemy~=2.0.38
aiosqlite
passlib~=1.7.4
python-jose~=3.3.0
pandas~=2.2.3
python-multipart
bcrypt==3.2.0
aiofiles~=24.1.0
python-dotenv~=1.0.1
pydantic[email]~=2.10.6
numpy~=2.2.3
prophet~=1.1.6
xgboost~=2.1.4
statsmodels~=0.14.4
torch
scikit-learn
celery
redis