/* body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  background: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  color: #333;
}

button {
  transition: all 0.3s ease-in-out;
}

button:hover {
  transform: scale(1.05);
} */
